body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  letter-spacing: 0.03em;
}



.hide-title {
  visibility: hidden;
}

.list {
  list-style: none;
}

/* Шапка сайта ================================================*/

.navi .logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.navi .span {
  color: #2196F3
}

/* Навигация по сайту ================================================ */

.navi .link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;

}

.navi .current {
  color: #2196F3;
}

.navi .link:hover,
.navi .link:focus {
  color: #2196F3;
}

.nav .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196F3;
}

/* Наші переваги ================================================ */

.page .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;

}

.page .text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;

}


/* Контакты в шапке ================================================ */


.auth .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  text-decoration: none;
}

.auth .current {
  color: #2196F3;
}

.auth .link:hover,
.auth .link:focus {
  color: #2196F3;
}

/* Главная страница ================================================ */

.hero-title {
  color: #FFFFFF;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;

}

/* Описание с постами ================================================ */

.post .sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
}

.post .text-title {

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

/* Наши проекты ================================================ */

.project-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Фото нашей команды ================================================ */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}


.team-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

h .team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}

.team-worked {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Подвал ================================================ */

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  background: #2F303A;

}


/* Лого подвала ================================================ */

.footer .span {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196F3;
}


.footer .logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
}

/* Контакты подвала ================================================ */



.adress .map {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;


}

.adress .contact {
  color: #757575;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

}

.adress .contact:hover,
.adress .contact:focus {
  color: #2196F3;
}